<!-- Header -->
<header class="bg-white shadow-md relative">
  <!-- logo, nav, address search, avatar -->
  <div class="w-full px-4 py-3 flex items-center justify-between">
    <!-- logo and text -->
    <a href="/">  
      <div class="flex items-center space-x-1">
        <%= image_tag 'wthr-logo.png', alt: 'wthr company logo', class: 'h-8 w-auto sm:h-12 md:h-16 lg:h-20' %>
        
        <span class="whitespace-nowrap italic antialiased uppercase font-black text-3xl sm:block md:text-5xl lg:text-6xl gradient-text">wthr</span>
        
      </div>
    </a>
    
    <div class="flex items-center space-x-6">
  
    <!-- address lookup -->
    <div class="absolute bg-white shadow-lg z-50 left-0 right-0 top-full mt-1 p-4 hidden xl:flex xl:relative xl:shadow-none xl:p-0 xl:mt-0 xl:bg-transparent xl:w-auto xl:flex-row xl:items-center xl:space-x-4 xl:justify-end" id="menu">
      <div data-controller="address-autocomplete">
        <input
          type="text"
          name="address"
          id="address_autocomplete"
          data-address-autocomplete-target="query"
          autocomplete="off"
          placeholder="Type an address..."
          class="w-full px-4 py-2 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          style="min-width: 300px;" 
        />
        <div data-address-autocomplete-target="results" class="absolute bg-white shadow-md mt-1 "></div>
      </div>
    </div>

    <div class="flex items-right items-center justify-between px-4 space-x-4">
      
      <!-- hamburger icon -->
      <div class="xl:hidden" onclick="toggleMenu('menu')">
        <div class="space-y-2">
          <div class="w-8 h-0.5 bg-black"></div>
          <div class="w-8 h-0.5 bg-black"></div>
          <div class="w-8 h-0.5 bg-black"></div>
        </div>
      </div>
    </div>

  </div>
</header>
<script>
function toggleMenu(menuId) {
  var element = document.getElementById(menuId);
  if (element.classList.contains('hidden')) {
    element.classList.remove('hidden');
  } else {
    element.classList.add('hidden');
  }
}
</script>
